<% @auctions.each do |a| %>
  <div class="list-group">
    <div class="list-group-item list-group-item-secondary">
      <h5><%= a.name + ', ' + a.city %></h5>
    </div>

    <div class="list-group-item">
      Sold <%= a.vehicles.count %> vehicles
    </div>
    <div class="list-group-item">
      Made <%= a.profits %>
    </div>
    <div class="list-group-item">
      Averaged <%= a.profits / a.vehicles.count %>
    </div>
  </div>
<% end %>