<!DOCTYPE html>
<html>
  <head>
    <title>Auction Edge | Ellen Wondra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        Auction Edge Application Problem
        --
        <span class='small navbar-text navbar-right'>Ellen Wondra</span>
      </a>
      <a href="/index">Index</a>
    </nav>

    <%= yield %>
  </body>
</html>
